<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    <button nz-button [nzType]="'primary'"><a routerLink="/nz-zorro">阿里zorro文档</a></button>
  </li>
  <li class="list-group-item list-group-item-warning">
    <button nz-button [nzType]="'primary'"><a routerLink="/nz-zorro-temp">阿里zorro文档临时地址，如果阿里官网不能访问</a></button>
  </li>
  <li class="list-group-item list-group-item-warning">
    <button nz-button [nzType]="'primary'"><a routerLink="/element">饿了么团队element文档</a></button>
  </li>
  <li class="list-group-item list-group-item-warning">
    <button nz-button [nzType]="'primary'"><a href="https://gitee.com/lovepeng/angluar-base/blob/master/src/assets/doc/index.md" target="_blank">简要说明和文档</a></button>
  </li>
  <li class="list-group-item list-group-item-warning">
    <button nz-button [nzType]="'primary'"><a routerLink="/demo/jquary">angualar中兼容jquary代码</a></button>
  </li>
  <li class="list-group-item list-group-item-warning">
    <button nz-button [nzType]="'primary'"><a routerLink="/demo/httpDemo">封装http请求示例</a></button>
  </li>
  <li class="list-group-item list-group-item-warning">
    <button nz-button [nzType]="'primary'"><a routerLink="/demo/video">视频播放</a></button>
  </li>
  <li class="list-group-item list-group-item-warning">
    <button nz-button [nzType]="'primary'"><a routerLink="/demo/asy-load-js">异步加载js文件</a></button>
  </li>
  <li class="list-group-item list-group-item-warning">
    <button nz-button [nzType]="'primary'"><a routerLink="/demo/baidu-map">集成百度地图</a></button>
  </li>



</ul>
