/*全局css*/
body,html,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,span,a,label,input{
  margin:0;
  padding:0;
  box-sizing: content-box !important;
}
li{
  list-style:none;
}
img{
  display:block;
}
a{
  text-decoration:none;
}
body,html{
  width:100%;
}
input,select,option,textarea{
  outline:none;
}
.w10{
  width:1325px;
}
.aBook{
  font-size:25px;
  color:#858585;
}
.acNav{
  font-size:14px;
  color:#666666;
}


/*--登录注册修改密码--*/
/*--遮罩层--*/
#mask{
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background:#000;
  opacity:0.4;
  display:none;
}
/*--弹出窗口--*/
div.popUp{
  width:384px;
  padding:0 35px;
  padding-top:88px;
  padding-bottom:48px;
  position:fixed;
  left:50%;
  top:160px;
  margin-left:-227px;
  background:#65a6c6;
  display:none;
  z-index: 100;
}

div.popUp:after{/*解决高度塌陷*/
  content: "";
  display: block;
  height:0;
  clear:both;
  overflow: hidden;
  visibility:hidden;
}
div.popContent{
  width:276px;
  margin:0 auto;
}
div.popContent div.login{
  width:276px;
  height:44px;
  margin-bottom:20px;
}
div.login label{
  display: inline-block;
  width:70px;
  height:44px;
  padding:0 10px;
  text-align:center;
  line-height:44px;
  background:#86b8d1;
  color:#fff;
  float:left;
}
div.login input{
  width:170px;
  height:44px;
  border:none;
  background:#86b8d1;
  margin-right:15px;
  float:left;
}
.login span{
  color:red;
  margin-left: 66px;
}
div.forget{
  width:260px;
  height:12px;
  margin-bottom:20px;
}
div.forget a{
  font-size:12px;
  color:#c8dfea;
  float:right;
}
div.shutDown{
  width:40px;
  height:40px;
  background:#cee0ec;
  border-radius: 40px;
  position:absolute;
  top:-20px;
  right:-20px;
  opacity: .9;
  font-size:14px;
  color:#2d5b75;
  text-align:center;
  line-height: 40px;
  cursor:pointer;
}
div.popHead{
  width:150px;
  height:50px;
  position:absolute;
  top:-10px;
  left:10px;
  z-index:10;
}
div.popHead::after{/*背景毛玻璃效果且不遮挡文字--伪元素*/
  content:"";
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background:#cfe6ee;
  opacity:.8;
  z-index:-1;
}
div.headCon{
  width:84px;
  height:50px;
  position:absolute;
  left:16px;
  top:-16px;
}
div.headCon h3{
  font-size:26px;
  color:#1b5875;
  font-weight: normal;
}
div.headCon p{
  width:112px;
  font-size:14px;
  color:#fff;
}
div.ensure{
  width:260px;
  height:46px;
}
div.ensure p{
  display: inline-block;
  width:70px;
  height:46px;
  text-align: center;
  line-height:46px;
  margin-right:30px;
  font-size:16px;
  color:#fff;
  cursor:pointer;
}
div.ensure b{
  display:inline-block;
  width:160px;
  height:46px;
  background:#fff;
  font-weight: normal;
  color:#6ca6be;
  font-size:16px;
  text-align: center;
  line-height: 46px;
  float:right;
  cursor:pointer;
}
/*--忘记密码--*/
#mheadCon{
  width:112px;
}
/*===========回到顶部=============*/
:host ::ng-deep strong {
  color: rgba(64, 64, 64, 0.6);
}

